<form class="editable flexcol doormacro" autocomplete="off">
  <header class="sheet-header">
    <h1>
      <input name="name" type="text" value="{{name}}" disabled>
    </h1>
  </header>

  <!-- temporary fix for monaco editor -->
  <div class="form-group" style="display: none;">
    <select name="type" disabled></select>
  </div>

  <!-- tabs -->
  <ul class="triggers">
    {{#each triggers as |trigger|}}
    <li class="trigger" data-type="{{trigger.type}}">{{trigger.label}}</li>
    {{/each}}
  </ul>

  {{#each triggers as |trigger|}}
  <div class="form-group stacked command" data-type="{{trigger.type}}">
    <label>
      {{localize "Command"}}
    </label>
    <textarea name="flags.doormacro.commands.{{trigger.type}}">{{trigger.script}}</textarea>
  </div>
  {{/each}}

  <footer class="sheet-footer flexrow">
    <button type="submit">
      <i class="fa-solid fa-save"></i> {{localize "Save"}}
    </button>
  </footer>
</form>
